body{
font-family: Arial, sans-serif;
background: #4169E1;
margin-left: 20px
}
form{
width:500px;
}
label{
margin-bottom:5px;
}
input, select {
width:100%;
padding:5px;
margin-bottom:5px;
border:1px solid #ccc;
border-radius:20px;
}
button{
padding:10px;
background:#000000;
border:none;
border-radius:5px;
color:#fff;
font-size:16px;
}